# **Multi Layer Perceptron**

#### What is MLP?
- **Multilayer Perceptron (MLP)** is a type of **Artificial Neural Network (ANN)** that consists of **multiple layers of neurons**.
- It's the **foundation** of most deep learning architectures.
- Can learn **non-linear relationships** between input and output.

---

#### **MLP Architecture**
- **Input Layer**: Receives raw data.
- **Hidden Layer(s)**: One or more layers where the model learns internal patterns.
- **Output Layer**: Provides final predictions or classification.

```txt
Input → Hidden Layer(s) → Output
```

---

#### **Key Components**
- **Weights & Biases**: Learnable parameters connecting neurons.
- **Activation Function**: Introduces non-linearity (e.g., ReLU, Sigmoid).
- **Forward Propagation**: Computes output from input.
- **Backpropagation**: Updates weights to reduce error.
- **Loss Function**: Measures prediction error (e.g., MSE, Cross-Entropy).
- **Optimizer**: Improves learning (e.g., SGD, Adam).

---

#### **Why Use MLP?**
- MLP can solve **complex tasks** like image recognition, text classification, etc.
- Learns better representations via **multiple hidden layers**.
- Can be used for **both regression and classification problems**.

---

#### **Limitations**
- **Fixed input size**.
- Not suitable for **sequential data** (use RNNs/LSTMs for that).
- Can **overfit** if the network is too deep or training data is too small.

---

#### Example: MLP with One Hidden Layer
```python
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(input_dim,)))  # Hidden Layer
model.add(Dense(1, activation='sigmoid'))  # Output Layer (for binary classification)

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32)
```

---

In [1]:
# import essential libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load datasets list present in sns
datasets = sns.get_dataset_names()
datasets

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
# load datasets from sns
dataset = sns.load_dataset('tips')

# show the first 5 rows of the dataset
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# show the shape of the dataset
print(dataset.shape)
# show the columns of the dataset
print(dataset.columns)
# show the info of the dataset
print(dataset.info())
# show the description of the dataset
print(dataset.describe())
# show the correlation of the dataset
print(dataset.corr())
# show the missing values of the dataset
print(dataset.isnull().sum())
# show the unique values of the dataset
print(dataset.nunique())